body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.content {
    position: relative;
    margin-top: 110px;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

input::placeholder {
  text-align: center;
}

.dataset-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.columns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.column-box {
    background-color: #f8f9fa;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: bold;
}

.table-container {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: #59616d;
    color: white;
}